<% if (theme.google_analytics){ %>
<!-- CNZZ Analytics -->
<div style="display:none">
<script src="http://s4.cnzz.com/z_stat.php?id=1254117900&web_id=1254117900" language="JavaScript"></script>
</div>
<!-- End CNZZ Analytics -->
<% } %>
